In [1]:
# Import all the necessary modules
import csv
import pandas as pd
import numpy as np

In [2]:
# pymysql is the middleware to connect a database with python programming
import pymysql

In [3]:
#NOTE: If importing a module gives an error message like this: No module named 'pymysql' 
#then use this snippet in your jupyter notebook
#import sys
#!{sys.executable} -m pip install pymysql

In [4]:
#Get the working directory for your code if necessary
import os
print(os.getcwd())

D:\STUDY MATERIALS\Which projects get you placed\code

In [5]:
#ress.csv is the name of the stylesheet
file1=pd.read_csv("ress.csv")

In [6]:
file1.head()

,Timestamp,Email Address,Full Name,USN,Preferred Language to Code:
0,9/1/2020 17:36:02,shubhang.is18@bmsce.ac.in,Shubhang C S,1BM18IS104,Python
1,9/1/2020 17:40:43,shubham.is18@bmsce.ac.in,Shubham Raj,1BM18IS103,"Java, Python"
2,9/1/2020 17:42:10,khushi.is18@bmsce.ac.in,Khushi Vedagarbham,1BM18IS134,"Java, Python"
3,9/1/2020 17:51:48,sundar.is18@bmsce.ac.in,Sundar U M,1BM18IS112,Java
4,9/1/2020 18:00:44,raghav.is18@bmsce.ac.in,RAGHAV JINDAL,1BM18IS137,Python

In [7]:
#Create a dataframe
df=pd.DataFrame(file1)

In [8]:
#Get the name and email of the registered students
df[["Email Address","Full Name"]]

                 Email Address           Full Name
0    shubhang.is18@bmsce.ac.in        Shubhang C S
1     shubham.is18@bmsce.ac.in         Shubham Raj
2      khushi.is18@bmsce.ac.in  Khushi Vedagarbham
3      sundar.is18@bmsce.ac.in          Sundar U M
4      raghav.is18@bmsce.ac.in       RAGHAV JINDAL
..                         ...                 ...
107    omisha.is18@bmsce.ac.in            Omisha N
108     palak.is18@bmsce.ac.in       Palak Agarwal
109   yashasr.is17@bmsce.ac.in            Yashas R
110    faizan.is18@bmsce.ac.in    Mohammed faizan
111    raghav.is18@bmsce.ac.in       RAGHAV JINDAL

[112 rows x 2 columns]

In [9]:
#Retrieve the email address of all students and append it into a list
email=df["Email Address"].values.tolist()

In [10]:
print(email)

['shubhang.is18@bmsce.ac.in', 'shubham.is18@bmsce.ac.in', 'khushi.is18@bmsce.ac.in', 'sundar.is18@bmsce.ac.in', 'raghav.is18@bmsce.ac.in', 'anup.is18@bmsce.ac.in', 'chinmay.is18@bmsce.ac.in', 'aviral.te18@bmsce.ac.in', 'adityap.is17@bmsce.ac.in', 'omisha.is18@bmsce.ac.in', 'manaswini.is18@bmsce.ac.in', 'deevithh.is18@bmsce.ac.in', 'bshrikara.is18@bmsce.ac.in', 'anupamkumar.is18@bmsce.ac.in', 'amrutya.is18@bmsce.ac.in', 'ayushi.is18@bmsce.ac.in', 'bhoomikask.is19@bmsce.ac.in', 'akhila.is18@bmsce.ac.in', 'manasi.is18@bmsce.ac.in', 'nikhil.is18@bmsce.ac.in', 'faizan.is18@bmsce.ac.in', 'anurag.is18@bmsce.ac.in', 'govind.is18@bmsce.ac.in', 'adityakumar.is18@bmsce.ac.in', 'prateek.cv18@bmsce.ac.in', 'aashish.is18@bmsce.ac.in', 'anusha.is18@bmsce.ac.in', 'gagandeepm.is18@bmsce.ac.in', 'shreyanshi.is18@bmsce.ac.in', 'rohanjitendra.is18@bmsce.ac.in', 'priyanshi.is18@bmsce.ac.in', 'palak.is18@bmsce.ac.in', 'bharath.is18@bmsce.ac.in', 'aadrika.ei18@bmsce.ac.in', 'akshata.is18@bmsce.ac.in', 'aishwarya.is18@bmsce.ac.in', 'hema.is18@bmsce.ac.in', 'parikshith.is18@bmsce.ac.in', 'saloni.is18@bmsce.ac.in', 'srinivasanshobhika@gmail.com', 'deevithh.is18@bmsce.ac.in', 'ankitag.is18@bmsce.ac.in', 'bhanukumar.is19@bmsce.ac.in', 'amrutya.is18@bmsce.ac.in', 'anupamkumar.is18@bmsce.ac.in', 'bharath.is18@bmsce.ac.in', 'anusha.is18@bmsce.ac.in', 'priyanka.is18@bmsce.ac.in', 'akhila.is18@bmsce.ac.in', 'vineeth.is18@bmsce.ac.in', 'aadrika.ei18@bmsce.ac.in', 'meghanam.is18@bmsce.ac.in', 'sushmithaj.is17@bmsce.ac.in', 'tejas.is17@bmsce.ac.in', 'rakshith.is17@bmsce.ac.in', 'sherylrhea.is17@bmsce.ac.in', 'anushaa.is18@bmsce.ac.in', 'pravishya.is18@bmsce.ac.in', 'pradyumna.is18@bmsce.ac.in', 'anirudhk.is17@bmsce.ac.in', 'raghavendra.is17@bmsce.ac.in', 'sanjana.is17@bmsce.ac.in', 'heenakousar.is17@bmsce.ac.in', 'anupriya.is17@bmsce.ac.in', 'lalasa.is17@bmsce.ac.in', 'meghana.is17@bmsce.ac.in', 'kushagra.is17@bmsce.ac.in', 'naveenkedilaya.is17@bmsce.ac.in', 'saicharan.is17@bmsce.ac.in', 'anannya.is17@bmsce.ac.in', 'abhiram.is17@bmsce.ac.in', 'lalitashree.is17@bmsce.ac.in', 'anarghya.is17@bmsce.ac.in', 'abhisheksheth.is17@bmsce.ac.in', 'priyanka.is18@bmsce.ac.in', 'divyanshsingh.is18@bmsce.ac.in', 'nitinbharadwaj.is17@bmsce.ac.in', 'nitinbharadwaj.is17@bmsce.ac.in', 'aishwaryapatil.is17@bmsce.ac.in', 'ashutosh.is17@bmsce.ac.in', 'sundar.is18@bmsce.ac.in', 'ayushi.is18@bmsce.ac.in', 'bheemappa.is18@bmsce.ac.in', 'apoorvaa.is18@bmsce.ac.in', 'hemanthkumar.is17@bmsce.ac.in', 'hruthwik.is17@bmsce.ac.in', 'vishak.is17@bmsce.ac.in', 'ankithrao.is17@bmsce.ac.in', 'chaithra.is18@bmsce.ac.in', 'kenjpais.is17@bmsce.ac.in', 'ajaysingh.is17@bmsce.ac.in', 'sahils.is18@bmsce.ac.in', 'sharmapannaga.is17@bmsce.ac.in', 'vinay.is18@bmsce.ac.in', 'khushi.is18@bmsce.ac.in', 'harshit.is18@bmsce.ac.in', 'arpithaa.is19@bmsce.ac.in', 'sanjays.is@bmsce.ac.in', 'adityamg.is18@bmsce.ac.in', 'nupurthakur.is18@bmsce.ac.in', 'naveen.is18@bmsce.ac.in', 'nikhil.is18@bmsce.ac.in', 'shubhang.is18@bmsce.ac.in', 'prahlad.is18@bmsce.ac.in', 'prahlad.is18@bmsce.ac.in', 'manjunath.is18@bmsce.ac.in', 'chinmay.is18@bmsce.ac.in', 'omisha.is18@bmsce.ac.in', 'palak.is18@bmsce.ac.in', 'yashasr.is17@bmsce.ac.in', 'faizan.is18@bmsce.ac.in', 'raghav.is18@bmsce.ac.in']

In [12]:
#Same for the name
names=df["Full Name"].values.tolist()

In [13]:
print(names)

['Shubhang C S', 'Shubham Raj', 'Khushi Vedagarbham', 'Sundar U M', 'RAGHAV JINDAL', 'Anup Jain', 'L Chinmay', 'AVIRAL SRIVASTAVA', 'Aditya', 'Omisha N', 'Kunala Sri Manaswini', 'Deevith H T', 'B Shrikara Varna', 'Anupam kumar boruah', 'Amrutya', 'Ayushi Maheshwari', 'Bhoomika s k', 'Akhila Abhijith', 'Manasi M', 'Nikhil Singh', 'MOHAMMED FAIZAN ', 'Anurag Dhasmana', 'Govind Satwani', 'Aditya Kumar', 'Prateek Jain', 'Aashish Chaple ', 'Anusha S', 'Gagandeep M', 'Shreyanshi Srivastava ', 'Rohan Jitendra Dave', 'Priyanshi Saxena', 'Palak Agarwal', 'Bharath M', 'Aadrika A', 'Kesanur Akshata Gurunath', 'Aishwarya R', 'Hema M S', 'K R Parikshith', 'Saloni', 'Shobhika Devi Srinivasan ', 'Deevith H T', 'Ankita G Aswathanarayana', 'Bhanu kumar k', 'Amrutya', 'Anupam boruah', 'Bharath M', 'Anusha S', 'B Priyanka', 'Akhila Abhijith', 'Gandhe Vineeth Kumar', 'Aadrika A', 'Meghana M', 'Sushmitha J', 'Tejas ravi', 'Rakshith Ravindra Chatra ', 'Sheryl Rhea Varughese', 'Anusha A', 'Pravishya N', 'Magic Johnson', 'K. Anirudh Bharadwaj ', 'Raghavendra Raj', 'Sanjana V', 'Heena kousar B M', 'Anupriya Jain', 'P.Lalasa ', 'Meghana Sharath', 'Kushagra Galundia', 'Naveen Kedilaya', 'Sai Charan Reddy', 'Anannya Patra', 'Abhiram P', 'Lalitashree R Hegde', 'H Anarghya', 'Abhishek Sheth', 'B Priyanka', 'Divyansh Singh Rathore ', 'Nitin Bharadwaj N', 'Nitin Bharadwaj N', 'Aishwarya E Patil', 'Ashutosh G Shanbhogue', 'Sundar U M', 'Ayushi Maheshwari', 'Bheemappa', 'Apoorva A Deshpande ', 'Hemanth Kumar R', 'Hruthwik K', 'Vishak L V', 'Ankith B Rao ', 'CHAITHRA B R', 'Ken Pais', 'Ajay Singh', 'Sahil Sadik ', 'Pannaga Sharma M L', 'VinayPandit', 'Khushi Vedagarbham', 'Harshit Chelladurai', 'ARPITHA A DESHPANDE', 'Sanjay S', 'M G Aditya', 'Nupur Thakur ', 'Naveen N', 'Nikhil Singh', 'Shubhang C S', 'Prahlad Nayak', 'Prahlad Nayak', 'Manjunath S', 'L Chinmay', 'Omisha N', 'Palak Agarwal', 'Yashas R', 'Mohammed faizan ', 'RAGHAV JINDAL']

In [14]:
#Before we connect the database to the phpmyadmin where want to store our database, we need to write the INSERT sql query for
# the same
print("INSERT INTO student(Name, Email) VALUES('"+names[0]+"','"+email[0]+"');")

INSERT INTO student(Name, Email) VALUES('Shubhang C S','shubhang.is18@bmsce.ac.in');

In [15]:
connection = pymysql.connect(host="localhost", user="root", passwd="", database="bmsceplacements")
cursor = connection.cursor()
for i in range(len(email)):
    insert1 = "INSERT INTO student(Name, Email) VALUES('"+names[i]+"','"+email[i]+"');"
    cursor.execute(insert1)
connection.commit()
connection.close()
print("Email id and names sent to the database successfully")

Email id and names sent to the database successfully